section{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 160px;
    height: 160px;
    border-radius: 60%;
}

.img-card{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.head-card{
    justify-content: center;
    align-items: center;
}